selenium
beautifulsoup4
requests
pymongo
qdrant-client
sentence-transformers
fastapi
uvicorn
pydantic
matplotlib
seaborn==0.13.2
umap-learn==0.5.5
boto3
zenml
torch
transformers
accelerate
sentencepiece
bitsandbytes
pdfminer.six
